<% layout("layouts/Boilerplate") %>
  <body></br>
    <div class="row">
      <div class="col-8 offset-2">
    <h3>Create a New Listing</h3>
    <form method="POST" action="/listings" novalidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
         <label for="title" class="form-label">Title</label>
        <input name="listing[title]"  type="text" placeholder="Add a catchy title" class="form-control" required/>
        <div class="valid-feedback">Title look's good</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
        name="listing[description]"
        class="form-control"
        required
      ></textarea>
      <div class="invalid-feedback">Description Should be short</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label"> upload Image</label>
        <input
        name="listing[image]"
        class="form-control"
        type="file"
        required
      />
      </div>
      
     <div class="row">

      <div class="mb-3 col-md-4">
        <label for="price" class="form-label">Price</label>
        <input name="listing[price]"  placeholder="enter price" class="form-control"  required/>
        <div class="invalid-feedback">Price Should be valid</div>
      </div>
      
  

      <div class="mb-3 col-md-8">
        <label for="country" class="form-label">Country</label>
        <input name="listing[country]"   placeholder="enter country" class="form-control" type="text" required/>
        <div class="invalid-feedback">Country name Should be valid</div>
      </div>
     </div>
      <div class="mb-3">
        <label for="location"  placeholder="enter location" class="form-label">Location</label>
        <input
        name="listing[location]"
        class="form-control"
        placeholder="enter location"
        type="text"
        required
      />
      <div class="invalid-feedback">Location Should be valid</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
  <select  name="listing[category]" class="form-control" required>
    <option value="Trending">Select</option>
    <option value="Trending">Trending</option>
    <option value="Rooms">Rooms</option>
    <option value="Iconic Cities">Iconic Cities</option>
    <option value="Mountains">Mountains</option>
    <option value="Castles">Castles</option>
    <option value="Camping">Camping</option>
    <option value="Domes">Domes</option>
    <option value="Boats">Boats</option>
    <option value="Farms">Farms</option>
    <option value="Arctic">Arctic</option>
  </select>
      </div>
   
      <button class="btn btn-dark add-btn mt-3">Add</button>
    
    </form>
  </div>
  </div>
  </body>
